body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.app {
  width: 100%;
  max-width: 2560px;
  margin: 0 auto;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.25s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
